# Logs y configuraciones de entorno
*.log
*.env

# Archivos de sistema (Windows/Mac/Linux)
.DS_Store
Thumbs.db

# Archivos de build de Angular
/dist
/.angular/cache
/.cache

# Node.js
node_modules/

# Angular y configuración de TypeScript
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.iml

# Archivos generados por npm/yarn
package-lock.json
yarn.lock

# Archivos de .NET
bin/
obj/
*.user
*.vs/
*.suo
*.ncb
*.dbmdl
*.log
*.vcxproj.user
*.csproj.user
debug.log
*.sln.docstates

# Certificados locales
*.pfx
*.cer

# Configuración de Rider/Resharper
.idea/
*.sln.DotSettings.user

# Publicación de .NET Core
publish/
