<div class="edit-user-container">
    <h2>{{ isEditMode ? 'Edit User' : 'Create User' }}</h2>
    <form (ngSubmit)="onSubmit()" class="edit-user-form">
      <!-- First Name -->
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput name="firstName" [(ngModel)]="user.firstName" required>
    </mat-form-field>
  
      <!-- Last Name -->
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput name="lastName" [(ngModel)]="user.lastName" required />
    </mat-form-field>

    <!-- Age -->
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" name="age" [(ngModel)]="user.age" required />
    </mat-form-field>

    <!-- Gender -->
    <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select name="gender" [(ngModel)]="user.gender" required>
            <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Country -->
    <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select name="country" [(ngModel)]="user.country" required>
            <mat-option *ngFor="let country of countries" [value]="country">
            {{ country }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Address -->
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput name="address" [(ngModel)]="user.address" required />
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="tel" name="phone" [(ngModel)]="user.phone" required />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="user.email" required />
    </mat-form-field>
  
      <!-- Form Actions -->
      <div class="form-actions">
        <button type="submit" mat-button>{{ isEditMode ? 'Update' : 'Create' }}</button>
        <button type="button" class="cancel" mat-button (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  