button.delete-button {
  padding: 10px;
  border: solid 1px #E23237; /* Azul */
  background: #E23237; /* Azul */
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: unset;
}

button.delete-button:hover {
  background-color: #a32327;
  border-color: #a32327;
}

button.edit-button {
  padding: 10px;
  border: solid 1px #3244e2; /* Azul */
  background: #3244e2; /* Azul */
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: unset;
}

button.edit-button:hover {
  background-color: #222f9e;
  border-color: #222f9e;
}

button.create-button{
  background-color: #27a323;
  border-color: #27a323;
  color: white;
  top: -9px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding-right: 9%;
  padding-left: 1%;
}

.div-table {
  padding-left: 2%;
  padding-right: 2%;
}